.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex; /* gutter size offset */
  width: auto;
  justify-content: space-between;
}
.my-masonry-grid .my-masonry-grid_column { 
  background-clip: padding-box;
  width: fit-content !important;
}

.my-masonry-grid > *:not(:first-child), .my-masonry-grid .my-masonry-grid_column > *:not(:first-child) {
  margin-top: 100px;
}

@media (max-width:1240px){
  .my-masonry-grid > *:not(:first-child){
    margin-top: 50px;
  }
}

@media(max-width:600px){
  .my-masonry-grid{
    display: inline;
  }
}