.card{
  display: block;
  width: 450px;
  height: fit-content;
}

.card__imageholder{
  width: 100%;
  overflow: hidden;
}

.card__imageholder img{
  width: inherit;
  transition: 0.5s all ease-in-out; 
}

.card:hover img{
  transform: scale(1.5);
}

.card__textholder{
  width: inherit;
  box-sizing: border-box;
  padding: 20px;
}

.card__textholder__heading{
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 16px;
}

.card__textholder__description{
  font-size: 16px;
  line-height: 120%;
  font-weight: normal;
  letter-spacing: 0%;
}


@media (max-width:1240px){
  .card__textholder__description{
    display: none;
  }
  .card__textholder__heading{
    font-size: 32px;
    margin: 0;
  }
  .card{
    width:370px;
  }
}

@media(max-width:1040px){
  .card{
    width: 300px;
  }
  .card__textholder{
    padding: 10px;
  }
  .card__textholder__heading{
    font-size: 24px;
  }
}

@media(max-width:780px){
  .card{
    width: 230px;
  }
  .card__textholder__heading{
    font-size: 16px;
  }
}

@media(max-width:600px){
  .card{
    width: 350px;
  }
}

@media(max-width:350px){
  .card{
    width:100%;
  }
}