.card{
  display: block;
  width: 450px;
  border-radius: 8px;
}

.card__imageholder{
  width: 100%;
}

.card__imageholder img{
  width: inherit;
}

.card__textholder{
  width: inherit;
  box-sizing: border-box;
  padding: 20px;
}

.card__textholder__heading{
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}

.card__textholder__description{
  font-size: 16px;
  line-height: 120%;
  font-weight: normal;
  letter-spacing: 0%;
}


@media (max-width:1040px){
  .card__textholder__description{
    display: none;
  }
  .card__textholder__heading{
    font-size: 32px;
  }
  .card{
    width:400px
  }
}
@media (max-width:800px){
  .card__textholder__description{
    display: none;
  }
  .card__textholder__heading{
    font-size: 32px;
  }
  .card{
    width:450px
  }
}
@media (max-width:400px){
  .card__textholder__description{
    display: none;
  }
  .card__textholder__heading{
    font-size: 32px;
  }
  .card{
    width:350px
  }
}
