.team__card__image{
  width: 360px;
  height: 360px;
}

.team__card__details{
  padding: 20px
}

.team__card__name{
  font-size: 26px;
  font-weight: bold;
  color: var(--dark);
  margin-bottom: 11px;
}

.team__card__category{
  font-size: 20px;
  color: #848484;
  font-weight: 500;
}

@media(max-width: 1440px){
  .team__card__image{
    width: 260px;
    height: 260px;
  }
  .team__card__image img{
    width: 260px;
    height: 260px;
  }
}