.projects__hero{
    background-color: #FCFF6A;
    height: calc(100vh - 320px);
    padding-top: 320px;
  }
  
  .width{
    width: 1040px;
    margin: auto;
  }

  .container{
    padding-bottom: 200px;
  }
  
  .projects__hero__header{
    font-weight: bold;
    font-size: 72px;
    line-height: 100%;
  }
  
  .projects__hero__description{
    width: 884px;
    margin-top: 48px;
    font-size: 28px;
  }
  
  .projects__size{
    padding: 200px 0;
  }
  
  .projects__size__header{
    font-weight: bold;
    font-size: 72px;
    margin-bottom: 100px;
  }
  
  .projects__size__pic{
    width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 150px;
  }
  
  
  @media(max-width: 1240px){
    .projects__hero{
      padding-top: 300px;
      height: calc(100vh - 300px);
    }
    .projects__hero__header, .projects__size__header{
      font-size: 60px;
    }
    .projects__hero__description{
      width: 824px;
      font-size: 23.33px;
    }
    .width{
      width: 864px;
    }
  }
  
  @media(max-width: 1040px){
    .projects__hero{
      padding-top: 280px;
      height: calc(100vh - 280px);
    }
    .projects__hero__header, .projects__size__header{
      font-size: 52px;
    }
    .projects__hero__description{
      width: 668px;
      font-size: 23.33px;
    }
    .width{
      width: 668px;
    }
  }
  
  @media(max-width: 780px){
    .projects__hero__header, .projects__size__header{
      font-size: 40px;
    }
    .projects__hero__description{
      width: 500px;
      font-size: 17.49px;
    }
    .width{
      width: 500px;
    }
  }
  
  @media(max-width: 600px){
    .projects__hero{
      padding-top: 200px;
      height: calc(100vh - 200px);
    }
    .projects__hero__header, .projects__size__header{
      font-size: 32px;
    }
    .projects__hero__description{
      width: 350px;
      font-size: 14px;
    }
    .width{
      width: 350px;
    }
    .container{
      padding: 150px 0;
    }
  }
  
  @media(max-width: 350px){
    .projects__hero{
      padding-top: 200px;
      height: calc(100vh - 200px);
    }
    .projects__hero__header, .projects__size__header{
      font-size: 32px;
    }
    .projects__hero__description{
      width: 90%;
      font-size: 14px;
    }
    .width{
      width: 90%;
    }
    .container{
      padding-bottom: 100px;
    }
  }