.footer{
  background-color: var(--dark);
  color: white;
  padding: 200px 0;
}

.footer__details{
  width: 1040px;
  margin: auto;
}

.footer__details__list{
  display: flex;
  justify-content: space-between;
}

.footer__details__list__one{
  font-weight: bold;
  font-size: 16px;
}

.footer__details__list__one ul li{
  padding-bottom: 20px;
  list-style-type: none;
}

.footer__details__list__two{
  font-weight: 600;
  font-size: 36px;
  width: 340px;
}

.footer__details__list__two ul li{
  padding-bottom: 20px;
  list-style-type: none;
  float: right;
}

.footer__details__list__rightarrow{
  width: 20px;
  margin:0 0 0 1rem ;
}

.footer__social{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.footer__social__icons{
  display: flex;
}

.footer__social__icons--style{
  width: 30px;
  padding: 0 0.6rem;
}

.footer__social__github{
  padding-left: 1rem;
}

.footer__social__copy{
  font-size: 16px;
  font-weight: 600;
}

ul{
  margin: 0;
  padding-left: 0;
}

@media(max-width: 1240px){
  .footer__details{
    width: 824px;
  }
  .footer__details__list__two ul li{
    font-size: 25px;
  }
}

@media(max-width: 1040px){
  .footer__details{
    width: 668px;
  }
}

@media(max-width: 780px){
  .footer__details{
    width: 500px;
  }
  .footer__details__list__two ul li{
    font-size: 17.49px;
  }
  .footer__details__list__two{
    width: 250px;
  }
}

@media(max-width: 600px){
  .footer{
    padding: 100px 0;
  }
  .footer__details{
    width: 350px;
  }
  .footer__details__list__one ul li{
    font-size: 12px;
    padding-bottom: 10px;
  }
  .footer__details__list__two ul li{
   font-size: 14px;
   padding-bottom: 10px;
  }
  .footer__details__list__rightarrow{
    width: 14px;
  }
  .footer__social__copy{
    text-align: left;
  }
  .footer__social{
    margin-top: 50px;
    flex-direction: column-reverse;
  }
  .footer__social__icons--style{
    padding: 0 5px;
    width: 14px;
  }
}

@media(max-width: 350px){
  .footer__details{
    width: 90%;
  }
}